.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #444;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  